.banner {
  background-image: url(../img/Group-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light-black;
  height: 100vh;
  margin-bottom: rem(77px);
  object-fit: cover;

  @include tablet {
    background-position: 65% 50%;
  }

  @include phone {
    background-image: none;
  }
}

.banner__section {
  @include phone {
    display: none;
  }

  &--mobile {
    display: none;
    @include phone {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  }
}

.banner__mob-image {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.banner__mob-img {
  border: none;
  margin: 0 auto;
}

.banner__mob-image {
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover
}

.banner__mob-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner__info-wrapper {
  width: 100%;
}

.banner__form {
  background-image: url(../img/back-form-desktop.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: rem(400px);
  margin-bottom: rem(100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title {
  font-weight: 300;
  font-size: rem(50px);
  line-height: rem(68px);
  color: $white;
  text-align: center;
  width: rem(300px);

  &--form {
    width: 60%;
    margin-top: 6%;

    @include tablet {
      width: 90%;
    }
  }

  &--catalog {
    margin-top: 6%;
    width: rem(357px);
  }

  @include phone {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    margin-top: 25%;
  }

  &--mobile {
    margin-top: 0;
    margin-bottom: 10%;
  }
}

.banner__btn {
  @include phone {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}

.banner__download {
  font-weight: bold;
  font-size: rem(21px);
  line-height: rem(18px);
  border: 3px solid #FFFFFF;
  color: $white;
  padding: rem(20px) rem(32px) rem(20px) rem(31px);
  border-radius: rem(29px);
  background-color: inherit;
  margin-bottom: rem(75px);
  cursor: pointer;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @include phone {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
  }
}

.banner__text {
  color: $white;
  font-weight: 300;
  font-size: rem(18px);
  line-height: rem(24px);
  text-align: center;
  width: rem(300px);

  @include phone {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
  }
}
