.main-nav {
  width: 70%;

  @include tablet {
    width: 100%;
    background-color: $light-black;
   }
}

.main-nav__header {
  @include tablet {
    display: none;
  }
}

.main-nav__list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 height: rem(110px);

  @include tablet {
    flex-direction: column;
    height: auto;
  }
}

.main-nav__item {
  margin-right: rem(10px);
  color: $white;

  &--active {
    border-bottom: 2px solid $white;

    &:hover {
      border-bottom: 2px solid $pink;
    }
  }

  &:hover {
    color: $pink;
  }

  &:active {
    color: $white;
    opacity: 0.3;
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 0;
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(32px);
    text-transform: uppercase;
    width: 100vw;
    padding: 26px 0 25px 0;
    text-align: center;
    box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15)
   }

}

.main-nav__link {
  @include tablet {
    padding: 25px 40%;
  }
}

