.page-header {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  width: 100%;

  @include tablet {
    position: fixed;
    margin-top: 0;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__container {
  display: flex;
}

.page-header__logo {
  margin-right: 15%;
  display: flex;
  align-items: center;

  @include tablet {
    top: 0;
    left: 0;
    margin: rem(27px) rem(5px);;
  }
}

.page-header__logo-mobile {
  display: flex;
  align-items: center;
  margin: rem(27px) rem(25px);;
  width: 130px;
}

.page-header__logo-image {
  fill: $white;
  width: rem(147px);
  height: rem(40px);

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}
